SUPABASE_URL=https://olmyteprjpltowlvwwow.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9sbXl0ZXByanBsdG93bHZ3d293Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTk5MTM2NCwiZXhwIjoyMTA1NTY3MzY0fQ.TM1wTkiYSEeCi8M_P6E4r2LHFZVQTSBExXtvfFPveWE
DATABASE_URL=postgresql://postgres:123%40AbdullahAzeem@db.olmyteprjpltowlvwwow.supabase.co:5432/postgres
PORT=3000
JWT_SECRET=super_secret_jwt_key_horquva_2026
ADMIN_EMAIL=admin@horquva.com
ADMIN_PASSWORD=123@AbdullahAzeem
ADMIN_ORG=horquva